LLM_OPS_HOST=0.0.0.0
LLM_OPS_PORT=8090
LLM_OPS_TOKEN=change-me
OLLAMA_BASE_URL=http://127.0.0.1:11434
LLM_OPS_DEFAULT_MODEL=metro-report:latest
LLM_OPS_FAST_MODEL=metro-fast:latest
LLM_OPS_MODEL_FALLBACK_ENABLED=true
LLM_OPS_MODEL_RUNNING_SWITCH_GUARD_ENABLED=false
LLM_OPS_MODEL_AUTO_UNLOAD_BEFORE_SWITCH_ENABLED=true
LLM_OPS_MODEL_SWITCH_UNLOAD_TIMEOUT_SECONDS=60
LLM_OPS_REQUEST_TIMEOUT_SECONDS=600
LLM_OPS_MAX_BODY_BYTES=4194304
LLM_OPS_KEEP_ALIVE=30m
LLM_OPS_ALLOWED_ORIGIN=*
NMS_CONTEXT_BASE_URL=http://192.168.1.33:7443
NMS_CONTEXT_TOKEN=change-me
NMS_CONTEXT_TIMEOUT_SECONDS=12
NMS_MONITOR_ENABLED=true
NMS_MONITOR_INTERVAL_SECONDS=60
NMS_MONITOR_WINDOW_HOURS=24
NMS_MONITOR_LIMIT=500
NMS_AUTOPILOT_ENABLED=true
NMS_AUTOPILOT_INTERVAL_SECONDS=600
NMS_AUTOPILOT_TARGET_COOLDOWN_SECONDS=1800
NMS_AUTOPILOT_MAX_TARGETS=1
NMS_AUTOPILOT_WINDOW_HOURS=48
NMS_AUTOPILOT_CONTEXT_LIMIT=40
NMS_AUTOPILOT_MODEL=metro-report:latest
NMS_AUTOPILOT_MIN_EVENT_COUNT=1
NMS_AUTOPILOT_START_DELAY_SECONDS=30
NMS_AUTOPILOT_TIMEOUT_SECONDS=300
NMS_AUTOPILOT_NUM_CTX=8192
NMS_AUTOPILOT_NUM_PREDICT=1200
